/* body и для заголовков двух типов текстовые стили:

размер шрифта,
высоту строки,
цвет шрифта,
жирность шрифта,
гарнитуру (название шрифта).
Задавать текстовые стили для всех элементов не нужно, достаточно трёх CSS-правил.

Подключать нестандартный шрифт к странице не нужно. */

body {
	font-size: 
	color:
	line-height:
	font-weight:
	font-style:
}
