body {
	min-width: 1200px;
	margin: 0;
	padding: 0;
	font-size: 16px;
	color: #ffffff;
	line-height: 22px;
	font-family: "Roboto", "Arial", sans-serif;
	background-color: #849d8f;
}

a {
	color: #ffffff;
	text-decoration: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

body > input[type="radio"] {
	display: none;
}

h1, h2 {
	font-size: 35px;
	line-height: 41px;
	font-weight: bold;
}

input,
textarea {
	padding: 0;
	border-width: 1px;
	border-style: solid;
	border-color: #d3d3d2;
	font-family: "Roboto", "Arial", sans-serif;
}

.send-btn:focus {
	outline-width: 0;
}

.btn {
	display: inline-block;
	vertical-align: top;
	font-family: "Roboto", "Arial", sans-serif;
	color: #ffffff;
	text-decoration: none;
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
	background: #f26843;
	background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
	border-radius: 100px;
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
	border-bottom: none;
}

.btn:hover {
	background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
	background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
	background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
	box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn:active {
	background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
	background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
	background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
	box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.site-wrapper {
	background: #849d8f url("../img/img-mainphoto-1.png") no-repeat top center;
	transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper:before,
.site-wrapper:after {
	content: "";
	visibility: hidden;
}

.site-wrapper:before {
	background-image: url("../img/img-mainphoto-2.png") no-repeat top center;
}

.site-wrapper:after {
	background-image: url("../img/img-mainphoto-3.png") no-repeat top center;
}

.slider {
	position: relative;
	padding-top: 270px;
	text-align: center;
	color: #ffffff;
	font-size: 18px;
	line-height: 1.2;
}

.slide {
	display: none;
}

.slide-title {
	width: 700px;
	padding-top: 40px;
	margin: 0 auto;
	margin-bottom: 30px;
	font-weight: bold;
	font-size: 60px;
}

.slide-btn {
	padding: 12px 50px;
	font-weight: bold;
	font-size: 31px;
	line-height: 41px;
}

.slider-controls label {
	display: inline-block;
	width: 17px;
	height: 17px;
	margin-right: 8px;
	vertical-align: top;
	background-color: transparent;
	border: 2px solid #ffffff;
	border-radius: 50%;
	cursor: pointer;
}

.slider-controls {
	position: absolute;
	bottom: 25px;
	left: 0;
	z-index: 20;
	font-size: 0;
}

.slider-controls label:hover {
	border: 2px solid #ffffff;
	background-color: rgba(255, 255, 255, 0.5);
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
	display: block;
}

#btn-1:checked ~ .site-wrapper {
	background-color: #849d8f;
	background-image: url("../img/img-mainphoto-1.png");
}

#btn-2:checked ~ .site-wrapper {
	background-color: #8996a6;
	background-image: url("../img/img-mainphoto-2.png");
}

#btn-3:checked ~ .site-wrapper {
	background-color: #9d8b84;
	background-image: url("../img/img-mainphoto-3.png");
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
	background-color: #ffffff;
}

.container {
	position: relative;
	width: 1146px;
	margin: 0 auto;
	padding: 0 27px;
}

.logo {
	float: left;
	width: 154px;
	padding-top: 9px;
}

.main-menu {
	float: left;
	width: 582px;
	font-weight: bold;
}

.main-menu ul {
	margin-top: 23px;
	margin-left: 30px;
	padding: 0;
	list-style: none;
}

.main-menu li {
	display: inline-block;
	position: relative;
}

.top-menu > li {
	padding-bottom: 5px;
}

.main-menu .menu-item {
	font-size: 16px;
	line-height: 18px;
	display: inline-block;
	white-space: nowrap;
	vertical-align: top;
	position: relative;
}

.main-menu a {
	display: block;
	color: #ffffff;
	padding: 6px 13px 6px 14px;
	border-bottom: none;
}

.menu-item:hover {
	border-radius: 20px;
	background: #f8f7f4;
	color: #333333;
	text-decoration: none;
}

.menu-item:active {
	box-shadow: inset 0 30px 30px -30px #909090;
}

.menu-item::after {
	content: "";
	position: absolute;
	height: 1px;
	background: rgba(255, 255, 255, 0.2);
	bottom: 5px;
	left: 14px;
	right: 13px;
}

.main-menu .sub-menu {
	position: absolute;
	overflow: hidden;
	left: -20px;
	top: 35px;
	z-index: 10;
	margin: 0;
	padding: 0;
	list-style: none;
	background: #f8f7f4;
	border-radius: 5px;
	display: none;
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.main-menu li:hover .sub-menu {
	display: block;
}

.main-menu .active {
	border-radius: 20px;
	background: #d07058;
	color: #ffffff;
	padding: 6px 13px 6px 14px;
}

/* КОСТЫЛИЩЕЕЕЕ */
.active::after {
	content: "";
	position: absolute;
	height: 0px;
	background: rgb(208, 112, 88);
	bottom: 5px;
	left: 14px;
	right: 13px;
}

.sub-menu li {
	display: block;
	text-decoration: none;
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
}

.sub-menu a {
	color: #333333;
	display: block;
	width: 109px;
	font-size: 14px;
	line-height: 16px;
	padding-top: 12px;
	padding-bottom: 14px;
	padding-left: 21px;
}

.sub-menu li:first-child {
	font-weight: bold;
}

.sub-menu li:first-child::after {
	content: "";
	position: absolute;
	height: 1px;
	background: #d1d0ce;
	left: 6px;
	right: 6px;
}

.sub-menu a:hover {
	background: #fbded7;
}

.sub-menu a:active {
	background: #f6b5a5;
}

.userbar {
	float: right;
	width: 267px;
	position: relative;
}

.userbar a {
	border-bottom: none;
}

.search {
	float: left;
	position: relative;
	width: 32px;
	margin-top: 23px;
	margin-right: 19px;
	padding-bottom: 5px;
}

.search:hover .form {
	display: block;
}

.search-button {
	display: block;
	width: 32px;
	height: 32px;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 50%;
	background-image: url("../img/sprite.png");
	background-position: -12px -614px;
	text-decoration: none;
}

.search-button:hover {
	background-color: #f8f7f4;
	background-position: -12px -651px;
}

.search .form {
	background: #f8f7f4;
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
	position: absolute;
	width: 341px;
	right: 0;
	top: 37px;
	border-radius: 5px;
	z-index: 25;
	display: none;
}

.search input[type="text"] {
	font-size: 14px;
	width: 279px;
	line-height: 24px;
	padding: 10px 15px 12px 15px;
	margin: 20px 15px;
	border-radius: 5px;
}

.user-block {
	float: left;
	width: 60px;
	margin-top: 23px;
	padding-bottom: 5px;
}

.login {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 32px;
	font-size: 14px;
	line-height: 16px;
	padding: 8px 14px 8px 40px;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 20px;
}

.login::before {
	content: "";
	position: absolute;
	top: 6px;
	left: 16px;
	width: 21px;
	height: 20px;
	background: transparent url("../img/sprite.png");
	background-position: -20px -485px;
}

.login:hover {
	background-color: #f8f7f4;
	color: #323232;
}

.login:hover::before {
	background: url("../img/sprite.png");
	background-position: -20px -524px;
}

.user-block .form {
	background: #f8f7f4;
	position: absolute;
	width: 278px;
	right: 131px;
	top: 60px;
	border-radius: 5px;
	z-index: 25;
	display: none;
	padding: 20px 17px 20px 19px;
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.enter-btn {
	float: left;
	width: 100px;
	font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    border: 0;
    margin-right: 15px;
    padding: 12px 25px 12px 25px;
    cursor: pointer;
    text-shadow: none;
}

.user-block input {
	margin-bottom: 20px;
}

.user-block input[type="email"],
.user-block input[type="password"] {
	font-size: 14px;
	width: 241px;
	line-height: 24px;
	padding: 10px 15px 12px 15px;
	border-radius: 5px;
}

.user-block-option a {
	display: block;
	float: right;
	color: #323232;
	font-size: 13px;
	line-height: 24px;
	width: 143px;
	text-decoration: underline;
}

.user-block-option a:hover {
	color: #e84d37;
}

.user-block:hover .form {
	display: block;
}

.basket {
	float: right;
	width: 67px;
	margin-top: 23px;
	margin-left: 10px;
	margin-right: 43px;
	padding-bottom: 5px;
}

.basket-button {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 32px;
	font-size: 14px;
	line-height: 16px;
	padding: 8px 34px 8px 45px;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 20px;
}

.basket-button::before {
	content: "";
	position: absolute;
	top: 6px;
	left: 16px;
	width: 21px;
	height: 20px;
	background: transparent url("../img/sprite.png");
	background-position: -20px -228px;
}

.basket-button:hover::before {
	background-position: -20px -268px;
}

.basket-button:hover {
	background-color: #f8f7f4;
	color: #323232;
}

.full-basket {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 57px;
	font-size: 14px;
	line-height: 16px;
	padding: 8px 16px 8px 44px;
	color: #323232;
	background-color: rgba(255, 255, 255, 1);
	border-radius: 20px;
}

.full-basket::before {
	content: "";
	position: absolute;
	top: 6px;
	left: 16px;
	width: 21px;
	height: 20px;
	background: transparent url("../img/sprite.png");
	background-position: -20px -360px;
}

.full-basket-table {
	display: none;
	position: absolute;
	z-index: 10;
	background: #f8f7f4;
	width: 540px;
	right: 0;
	top: 60px;
	color: #323232;
	border-radius: 10px;
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.basket:hover .full-basket-table {
	display: block;
}

td {
	padding: 0;
	vertical-align: top;
}

.checkout {
	text-align: left;
	padding: 20px;
	width: 540px;
	min-height: 140px;
}

.checkout img {
	margin-left: 14px;
}

.checkout p {
	font-size: 13px;
	line-height: 16px;
	font-weight: 400;
	width: 246px;
	margin-left: 13px;
	vertical-align: top;
	margin-top: 0;
}

.checkout input[type="checkbox"] {
	display: none;
}

.table-checkbox input[type="checkbox"] + .checkbox-indicator {
	position: absolute;
	left: 17px;
	width: 10px;
	height: 11px;
	border: none;
	cursor: pointer;
}

.table-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
.table-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
	content: "";
	position: absolute;
	top: 5px;
	left: -2.5px;
	width: 15px;
	height: 2px;
	background-color: #000000;
}

.table-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
	transform: rotate(45deg);
}

.table-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
	transform: rotate(-45deg);
}

.constanta {
	color: #a6a6a5;
}

.total {
	text-align: right;
	margin: 0;
	font-size: 15px;
	line-height: 18px;
	font-weight: bold;
	margin-right: 14px;
}

.checkout-btn {
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	float: right;
	margin: 13px 14px 19px;
	padding: 14px 15px;
	font-size: 18px;
	line-height: 24px;
	text-shadow: none;
}

table::after {
	content: "";
	position: absolute;
	z-index: 10;
	height: 1px;
	background: #cacac7;
	left: 20px;
	right: 20px;
}

.worktime {
	position: absolute;
	top: 51px;
	right: 0;
	width: 267px;
	font-size: 14px;
	margin-top: 29px;
	text-align: right;
}

.time {
	line-height: 16px;
	font-weight: bold;
}

.phone {
	font-size: 22px;
	line-height: 24px;
	font-weight: bold;
}

.breadcrumbs li {
	display: inline-block;
	vertical-align: top;
	margin-right: 8px;
}

.breadcrumbs {
	margin-top: 26px;
	margin-bottom: 0;
	font-size: 14px;
	line-height: 16px;
	list-style: none;
	padding: 0;
}

.current a {
	border: none;
}

.breadcrumbs-item::after {
	content: "»";
	display: inline-block;
	cursor: default;
	margin-left: 8px;
}

.breadcrumbs a:hover {
	color: #ffbc9e;
	border-color: #ffbc9e;
}

.filters {
	margin-bottom: 34px;
}

.content h1 {
	margin-bottom: 26px;
	margin-top: 14px;
}

.sorting {
	display: inline-block;
	margin-right: 16px;
}

.sorting p {
	margin: 0;
	margin-left: 16px;
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
}

.sorting-style {
	text-transform: lowercase;
	color: white;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 25px;
	border: none;
	padding: 9px 16px;
	width: 195px;
	margin-top: 6px;
}

.sorting-style:hover {
	background: rgba(255, 255, 255, 1);
	color: #323232;
}

.filter-range {
	display: inline-block;
	vertical-align: top;
	width: 220px;
}

.filter-range-title {
	margin-left: 10px;
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
}

.range-controls {
	position: relative;
	padding: 18px 15px;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 25px;
	margin-top: 6px;
}

.range-controls .scale {
	background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
	width: 80%;
	height: 2px;
	background: #ffffff;
}

.range-toggle {
	position: absolute;
	top: 8px;
	width: 20px;
	height: 20px;
	background: #ffffff;
	border-radius: 50%;
	cursor: pointer;
}

.range-toggle:hover {
	width: 22px;
	height: 22px;
}

.range-toggle-min {
	left: 20%;
}

.range-toggle-max {
	left: 70%;
}

.fatness {
	display: inline-block;
	vertical-align: top;

}

.fatness p {
	margin: 0;
	margin-left: 30px;
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
}

.fatness-style {
	width: 382px;
	margin-left: 15px;
	margin-top: 6px;
	padding: 10px 16px;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 25px;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
}

.fatness-style label {
	cursor: pointer;
	margin-right: 19px;
}

.fatness-style label:last-child {
	margin-right: 0;
}

.fatness-style input {
	cursor: pointer;
	margin-right: 10px;
}

.toping {
	display: inline-block;
	vertical-align: top;
	width: 702px;
}

.toping p {
	margin: 0;
	margin-left: 16px;
	margin-top: 17px;
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
}

.toping-style {
	margin-top: 8px;
	padding: 10px 16px;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 25px;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
}

.toping-style label {
	cursor: pointer;
	margin-right: 21px;
}

.toping-style label:last-child {
	margin-right: 0;
}

.toping-style input {
	cursor: pointer;
	margin-right: 11px;
}

.apply {
	cursor: pointer;
	display: inline-block;
	width: 144px;
	margin-top: 41px;
	margin-left: 14px;
	color: #ffffff;
	background: rgba(255, 255, 255, 0.2);
	border: 2px solid #ffffff;
	border-radius: 25px;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	padding: 8px 27px;
}

.apply:hover {
	background: rgba(255, 255, 255, 1);
	color: #323232;
}

.apply:active {
	box-shadow: inset 0 30px 60px -30px #909090;
}

.banners {
	width: 560px;
	margin-top: 40px;
	margin-bottom: 39px;
	border-radius: 15px;
}

.banners h2 {
	margin: 0;
	padding-top: 19px;
	padding-left: 21px;
}

.banners p {
	font-size: 18px;
	font-weight: bold;
	margin: 0;
	padding-top: 22px;
	padding-left: 21px;
}

.banners .btn {
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	margin-top: 45px;
	margin-bottom: 23px;
	padding: 14px 22px;
	text-shadow: none;
}

.raspberries {
	float: left;
	background: #D03641 url("../img/bg-raspberry.jpg") no-repeat;
}

.rasp-btn {
	margin-left: 372px;
}

.chocolate {
	float: right ;
	background: #B95B32 url("../img/bg-chocolate.jpg") no-repeat;
}

.choco-btn {
	margin-left: 349px;
}

.goods .item {
	display: inline-block;
	position: relative;
	width: 267px;
	vertical-align: top;
	margin-right: 26px;
	margin-bottom: 40px;
	z-index: 5;
	text-align: center;
}

.goods .item:hover {
	z-index: 6;
}

.item:hover .btn {
	display: block;
}

.item img {
	position: relative;
}

.goods .item::before {
	display: none;
	content: "";
	position: absolute;
	background: rgba(255, 255, 255, 0.6);
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
	opacity: 0.3;
	top: -6px;
	bottom: -86px;
	left: -13px;
	right: -13px;
}

.goods .item:hover::before {
	display: block;
}

.goods .item:nth-child(4n) {
	margin-right: 0;
}

.hit::after {
	content: "";
	position: absolute;
	left: 0px;
	top: 0px;
	width: 61px;
	height: 61px;
	background: url("../img/img-hit.png") no-repeat;
	z-index: 10;
}

.item .price {
	position: absolute;
	left: 0;
	font-size: 45px;
	font-weight: bold;
	text-align: left;
	text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
	top: 216px;
	z-index: 15;
}

.item .ruble {
	font-size: 0;
	position: absolute;
	top: -7px;
	left: 80px;
	width: 32px;
	height: 37px;
	background: url("../img/icon-rub.svg") no-repeat;
	z-index: 15;
}

.weight {
	font-size: 26px;
	margin-left: 36px;
}

span + a:hover {
	color: #ffbc9e;
	border-bottom: 1px solid rgba(255, 188, 158, 0.2);
}

.btn-quick-view {
	display: none;
	position: absolute;
	left: 50%;
	bottom: -65px;
	margin-left: -100px;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	padding: 14px 17px;
	text-shadow: none;
}

.item:hover a {
	border: none;
}

.shop {
	background: #FFF9CB url("../img/bg-waffle.jpg") repeat;
	border-radius: 15px;
	margin-bottom: 40px;
}

.shop h2 {
	color: #323232;
	font-size: 24px;
	font-weight: 500;
	margin: 0;
	line-height: 30px;
	padding-top: 20px;
	padding-left: 20px;
}

.technology {
	position: relative;
	color: #323232;
	font-size: 16px;
	line-height: 22px;
	display: inline-block;
	vertical-align: top;
	width: 482px;
	padding-left: 75px;
}

.picture::before {
	content: "";
	position: absolute;
	width: 49px;
	height: 49px;
	background: transparent url("../img/sprite.png");
}

.icecream::before {
	top: 5px;
	left: 20px;
	background-position: -20px -764px;
}

.leaf::before {
	top: 80px;
	left: 20px;
	background-position: -20px -833px;
}

.cow::before {
	top: 5px;
	left: 20px;
	background-position: -20px -694px;
}

.termometr::before {
	top: 80px;
	left: 20px;
	background-position: -20px -902px;
}

.blog {
	color: black;
	float: left;
	width: 560px;
	min-height: 220px;
	margin-right: 26px;
	background: #EAD8E9 url("../img/bg-blog.jpg") no-repeat;
	border-radius: 15px;
}

.blog p {
	margin: 0;
	padding-top: 24px;
	padding-left: 20px;
}

.blog a {
	display: block;
	width: 283px;
	color: #323232;
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	text-decoration: underline;
	border: none;
	padding-left: 21px;
	margin-top: 8px;
}

.blog a:hover {
	color: #e84d37;
}

.subscribe {
	float: right;
	width: 560px;
	margin-bottom: 40px;
	background: url("../img/bg-subscribe.jpg") repeat;
	border-radius: 15px;
}

.subscribe-wrapper {
	background: #f8f7f4;
	margin: 5px 5px 5px 6px;
	border-radius: 15px;
}

.subscribe p {
	line-height: 18px;
	color: #5a5a5a;
	margin: 0;
	padding: 31px 27px 40px 27px;
}

.subscribe form {
	width: 534px;
	padding: 0px 0px 33px 26px;
}

.subscribe-wrapper input[type="email"] {
	font-size: 16px;
	line-height: 24px;
	width: 366px;
	padding: 10px 14px;
	box-sizing: border-box;
	margin-right: 10px;
	border-radius: 5px;
}

.send-btn {
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	border: 0;
	margin-right: 14px;
	padding: 14px 19px;
	cursor: pointer;
	text-shadow: none;
}

.map {
	position: relative;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 17px;
}

.feedback {
	position: absolute;
	width: 302px;
	top: -390px;
	right: 27px;
	background: rgba(255, 255, 255, 0.98);
	color: #323232;
	border-radius: 15px;
}

.feedback p {
	width: 221px;
	font-size: 14px;
	line-height: 20px;
	margin: 0;
	padding-top: 30px;
	padding-left: 25px;
}

.feedback b {
	font-size: 18px;
	line-height: 24px;
}

.feedback-btn {
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	margin: 25px 24px 29px 24px;
	padding: 10px 28px 13px 28px;
	text-shadow: none;
}

.feedback-form {
	position: fixed;
	top: 100px;
	display: none;
	z-index: 110;
	left: 50%;
	width: 477px;
	padding-top: 22px;
	padding-left: 24px;
	margin-left: -239px;
	color: #323232;
	background: #f8f7f4;
	border-radius: 15px;
	box-sizing: border-box;
}

.overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
}

.feedback-form-show {
	display: block;
}

.overlay-show {
	display: block;
}

.feedback-form-close {
	position: absolute;
	top: 15px;
	right: 15px;
	width: 18px;
	height: 17px;
	font-size: 0;
	border: 0;
	background: #f8f7f4;
	cursor: pointer;
}

.feedback-form h2 {
	font-size: 24px;
	line-height: 28px;
	margin: 0;
	margin-bottom: 23px;
}

.feedback-form-close::before,
.feedback-form-close::after {
	content: "";
	position: absolute;
	top: 7px;
	right: -3px;
	width: 24px;
	height: 3px;
	background-color: #060606;
	border-radius: 1px;
}

.feedback-form-close::before {
	transform: rotate(45deg);
}

.feedback-form-close::after {
	transform: rotate(-45deg);
}

.feedback-form input[type="text"],
.feedback-form input[type="email"],
.feedback-form textarea {
	font-size: 16px;
	line-height: 24px;
	padding: 11px 14px;
	border-radius: 5px;
}

.feedback-form input {
	width: 237px;
	margin-bottom: 20px;
}

.feedback-form textarea {
	width: 399px;
	height: 155px;
}

.send-feedback-btn {
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	float: right;
	width: 139px;
	margin: 0;
	padding: 11px 24px 13px 24px;
	border: 0;
	cursor: pointer;
	margin-top: 24px;
	margin-bottom: 27px;
	margin-right: 24px;
	text-shadow: none;
}

.pagination {
	float: right;
	width: 190px;
	padding: 0;
	margin: 0;
}

.pagination a {
	display: inline-block;
	color: #ffffff;
	float: left;
	width: 26px;
	height: 26px;
	text-decoration: none;
	border: none;
	text-align: center;
	margin-top: 62px;
	margin-bottom: 40px;
}

.pagination a:hover {
	color: #323232;
	background: rgba(255, 255, 255, 0.3);
	border-radius: 50%;
}

a.current-page {
	color: #323232;
	background: #ffffff;
	border-radius: 50%;
}

.goods::after {
	content: "";
	position: absolute;
	top: 1462px;
	height: 1px;
	background: rgba(255, 255, 255, 0.2);
	width: 1146px;
	left: 27px;
}

.main-footer {
	padding-top: 36px;
	padding-bottom: 30px;
}

.footer-social {
	float: left;
	width: 267px;
	margin-right: 26px;
}

.footer-info {
	position: relative;
	font-size: 13px;
	line-height: 18px;
	float: left;
	display: block;
	vertical-align: top;
	padding-left: 105px;
	width: 455px;
}

.footer-info a:hover {
	color: #ffbc9e;
	border-bottom: 1px solid rgba(255, 188, 158, 0.2);
}

.heart::before {
	content: "";
	position: absolute;
	left: 80px;
	width: 15px;
	height: 13px;
	background: transparent url("../img/sprite.png");
	background-position: -20px -400px;
}

.regulations {
	float: left;
	width: 117px;
}

.about-production {
	float: left;
	width: 170px;
	margin-left: 26px;
}

.footer-copyright {
	position: relative;
	top: 20px;
	float: right;
	width: 267px;
	font-size: 12px;
	line-height: 18px;
	text-align: right;
	vertical-align: bottom;
}

.footer-copyright::before {
	content: "";
	position: absolute;
	top: -35px;
	left: 80px;
	width: 108px;
	height: 38px;
	background: transparent url("../img/sprite.png");
	background-position: -20px -564px;
}

.footer-copyright a:hover {
	color: #ffbc9e;
	border-bottom: 1px solid rgba(255, 188, 158, 0.2);
}

.social-btn {
	display: inline-block;
	width: 32px;
	height: 32px;
	margin-right: 12px;
	font-size: 0;
	vertical-align: middle;
	text-decoration: none;
	vertical-align: top;
	background: url("../img/sprite.png") no-repeat;
	opacity: 0.8;
	border-radius: 50%;
	border: 4px solid rgba(255, 255, 255, 0.5);
}

.social-btn-tw {
	background-position: -10.5px -114px;
}

.social-btn-inst {
	background-position: -10px -62px;
}

.social-btn-fb {
	background-position: -10px -10px;
}

.social-btn-vk {
	background-position: -10px -166px;
}

.social-btn:hover {
	opacity: 1;
}

.social-btn:active {
	box-shadow: inset 0 2px 1px 1px #888888;
}